.titulo-Principal{

    padding-left: 50px;
}

#banner{

        width: 100%;
}

.tituloCentralizado{
    text-align: center;
}

.principal{

    background-color: white;
    padding: 20px;
}


p{
    text-align: center;
}

em strong  {
    color: red;
}

#mision{
    font-size: 40px;
}

.diferenciales{

    background-color: white;
    padding: 30px;
}



.Items{
    font-style: italic;
}

ul{

    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
}

.imagenDiferenciales{

    width: 50%;
}